* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

header {
  background-color: grey;
  height: 100px;
  display: flex;
  align-items: center;
}

header a {
  color: white;
  padding: 20px 20px;
  background-color: black;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 18px;
  text-decoration: none;
}

header a:hover {
  color: red;
}

main {
  background-color: #323232;
  color: white;
  padding: 30px 0;
  min-height: calc(100vh - 100px);
}

main h3 {
  margin: 20px 0;
}

main ul {
  list-style-type: none;
}

main ul li {
  margin: 20px 0;
}

main ul li a {
  text-decoration: none;
  color: lightgrey;
  transition: 0.3s;
}

main ul li a:hover {
  color: red;
}

main form .box {
  margin: 20px 0;
}

main form .box input {
  padding: 5px 0;
}

main form .box #btn_submit {
  padding: 10px 10px;
  background-color: red;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
  transition: 0.3s;
}

main form .box #btn_submit:hover {
  background-color: black;
  color: red;
}

